@model IEnumerable<TravelAgencySystem.Models.PakagesEntity>
@{
    ViewData["Title"] = "PakagesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PakagesList</h1>

<hr />

<p class="float-left">
    <a asp-action="AddPakages" asp-controller="Pakages" class="btn btn-outline-secondary">Add Pakages</a>
</p>

<p class="float-right">
    @* <a asp-action="AddCustomer" asp-controller="Item" class="btn btn-outline-secondary">Add Customer</a> |*@
    @*<a asp-action="List" class="btn btn-outline-primary">Item List</a> |
    <a asp-action="DepartmentList" asp-controller="Item" class="btn btn-outline-primary">Category List</a>*@
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PakageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PakageDescription)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.PakagePrice)
            </th>




            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PakageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PakageDescription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PakagePrice)
                </td>



                <td>
                    @Html.ActionLink("Update", "AddPakages", new {  item.PakageId, item.PakageName, item.PakageDescription, item.PakagePrice } , new { @class="btn btn-outline-success rounded-pill"}) |
                    @Html.ActionLink("Delete", "DeletePakages", new {  item.PakageId  }, new { @class = "btn btn-outline-danger rounded-pill",onclick="return confirm('Do you really want this record?')" })
                </td>

            </tr>
        }
    </tbody>
</table>

